services:
  backend:
    build:
      context: ./Backend
      target: dev
    ports:
      - "3000:3000"
    env_file:
      - ./.env.development
    depends_on:
      - db_data

  frontend:
    build:
      context: ./Frontend
      target: dev
    ports:
      - "5173:5173"
    depends_on:
      - backend
    env_file:
      - ./.env.development

  db_data:
    image: postgres:18
    env_file:
      - ./.env.development
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
volumes:
  db_data:

networks:
  app-network:
    driver: bridge