services:
  backend:
    build:
      context: ./Backend
      target: production
    ports:
      - "3000:3000"
    env_file:
      - ./.env.production
    depends_on:
      - db_data
    restart: always
      
  frontend:
    build:
      context: ./Frontend
      target: production
    ports:
      - "5173:80"
    volumes:
      - ./Frontend/dist:/usr/share/nginx/html
    depends_on:
      - backend
    env_file:
      - ./.env.production
    restart: always

  db_data:
    image: postgres:18
    env_file:
      - ./.env.production
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
volumes:
  db_data:
    driver: local

networks:
  app-network:
    driver: bridge
