services:
  backend:
    build:
      context: ./Backend
      args:
        MODE: production
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    depends_on:
      - db_data

  frontend:
    build:
      context: ./Frontend
      args:
        MODE: production
    ports:
      - "5173:5173"
    depends_on:
      - backend
    env_file:
      - .env.production

  db_data:
    image: postgres:18
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
volumes:
  db_data:
    driver: local
networks:
  app-network:
